<p style="color: green"><%= notice %></p>
<p style="color: red"><%= alert %></p>

<% content_for :title, "Usuarios" %>
  <div class="m-4">
    <div class="d-flex justify-content-between mb-4">
      <h2 class="mb-0">Panel de Usuarios</h2>
      <div class="d-flex">
        <%= link_to "Nuevo usuario", new_app_user_path, class: "btn btn-success" %>
      </div>
    </div>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Nombre de usuario</th>
          <th scope="col">Correo</th>
          <th scope="col">Estado</th>
          <th scope="col">Roles</th>
          <th scope="col">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |user| %>
          <tr>
            <td><%= user.username %></td>
            <td><%= user.email %></td>
            <% if user.status == 'active' %>
              <td style="color: green">Activo</td>
            <% else %>
              <td style="color: red">Inactivo</td>
            <% end %>
            <td>  <%= user.roles.map { |role| I18n.t("roles.#{role.name}") }.join(', ') %> </td>
            <td>
              <% if (user.roles.pluck(:name).include? "admin") %>
                <% if current_user.has_role?(:admin) %>
                  <%= link_to "Editar usuario", edit_app_user_path(user), 
                  class: "btn btn-primary #{'disabled' unless user.status == 'active'}" %>
                <% end %>
              <% else %>
                <%= link_to "Editar usuario", edit_app_user_path(user), class: "btn btn-primary" %>
              <% end %>
              <% if current_user != user && current_user.has_role?(:admin) %>
                <% if user.status == 'active' %>
                  <%= link_to "Desactivar usuario", deactivate_app_user_path(user), method: :get, class: "btn btn-danger" %>
                <% else %>
                  <%= link_to "Activar usuario", update_password_activate_app_user_path(user), method: :get, class: "btn btn-success" %>
                <% end %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>

    </table>

  </div>
