<p style="color: green"><%= notice %></p>

<% content_for :title, "Usuarios" %>
  <div class="m-4">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Nombre de usuario</th>
          <th scope="col">Correo</th>
          <th scope="col">Estado</th>
          <th scope="col">Roles</th>
          <th scope="col">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |user| %>
          <tr>
            <td><%= user.username %></td>
            <td><%= user.email %></td>
            <% if user.status == 'active' %>
              <td>Activo</td>
            <% else %>
              <td>Inactivo</td>
            <% end %>
            <td><%= user_roles(user) %></td>
            <td>
              <% if (user.roles.pluck(:name).include? "admin") %>
                <% if current_user.has_role?(:admin) %>
                  <%= link_to "Editar usuario", edit_app_user_path(user) %>
                <% end %>
              <% else %>
                <%= link_to "Editar usuario", edit_app_user_path(user) %>
              <% end %>
              <% if current_user != user && current_user.has_role?(:admin) %>
                <% if user.status == 'active' %>
                  <%= link_to "Desactivar usuario", deactivate_app_user_path(user), method: :get %>
                <% else %>
                  <%= link_to "Activar usuario", update_password_activate_app_user_path(user), method: :get %>
                <% end %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>

    </table>


    <%= link_to "Nuevo usuario", new_user_registration_path, class: "btn btn-primary btn-md w-20" %>
  </div>
