<% if notice %>
  <p class="alert alert-success">
    <%= notice %>
  </p>
<% end %>
<%= render @user %>

<div>
  <%= link_to "Editar este usuario", edit_app_user_path(@user) %> |
  <%= link_to "Volver a usuarios", app_users_path %>

  <%= button_to "Eliminar usuario", app_user_path(@user), method: :delete %>
</div>
