<h2>Asignar nueva contraseña a <%= @user.username %></h2>

<%= form_for(@user, url: activate_app_user_path(@user), method: :get) do |f| %>
  <% if @user.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% @user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <%= f.label :password, "Nueva Contraseña" %>
    <%= f.password_field :password, class: 'form-control' %>
  </div>
  <%= f.submit "Activar Usuario", class: 'btn btn-success' %>
  <%= link_to "Volver a usuarios", app_users_path %>
<% end %>
