<% if notice %>
  <p class="alert alert-success">
    <%= notice %>
  </p>
<% end %>
<% if alert %>
<p class="alert alert-danger">
  <%= alert %>
</p>
<% end %>
<% content_for :title, "Talles" %>
  <div class="m-4">
    <div class="d-flex justify-content-between mb-4">
      <h2 class="mb-0">Panel de talles</h2>
      <div class="d-flex gap-2">
        <%= link_to "Nuevo talle", new_size_path, class: "btn btn-success" %>
        <%= link_to "Volver a los productos", index_administration_products_path, class: "btn btn-secondary" %>

      </div>
    </div>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Valor</th>
          <th scope="col">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <% @sizes.each do |size| %>
          <tr>
            <td><%= size.size_value %></td>
            <td><%= link_to "Editar talle", edit_size_path(size), class: "btn btn-primary" %></td>
          </tr>
        <% end %>
      </tbody>

    </table>

  </div>
