<% if notice %>
  <p class="alert alert-success">
    <%= notice %>
  </p>
<% end %>
<% if alert %>
<p class="alert alert-danger">
  <%= alert %>
</p>
<% end %>
<% content_for :title, "Categorías" %>
  <div class="m-4">
    <div class="d-flex justify-content-between mb-4">
      <h2 class="mb-0">Panel de Categorías</h2>
      <div class="d-flex gap-2">
        <%= link_to "Nueva categoría", new_category_path, class: "btn btn-success" %>
        <%= link_to "Volver a los productos", index_administration_products_path, class: "btn btn-secondary" %>

      </div>
    </div>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Nombre</th>
          <th scope="col">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <% @categories.each do |category| %>
          <tr>
            <td><%= category.category_name %></td>
            <td><%= link_to "Editar categoría", edit_category_path(category), class: "btn btn-primary" %></td>
          </tr>
        <% end %>
      </tbody>

    </table>

  </div>
