<% content_for :title, "Nueva categoría" %>

<section class="gradient-custom">
  <div class="container py-5 h-100">
    <div class="row justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
          <div class="card-body p-3 p-md-4">
            <h3 class="mb-4 pb-2 pb-md-0 mb-md-4">Crear categoría</h3>
              <%= form_for(@category, url: categories_path, method: :post) do |form| %>
                <% if @category.errors.any? %>
                  <div>
                    <% @category.errors.each do |error| %>
                      <p class="alert alert-danger"><%= error.full_message %></p>
                    <% end %>
                  </div>
                <% end %>

                <div class="form-outline mb-3">
                  <%= form.label :category_name, "Nombre", class: "form-label" %>
                  <%= form.text_field :category_name, class: "form-control form-control-sm" %>
                </div>
                <div class="form-outline mb-3">
                  <%= form.label :parent_id, "Categoría principal", class: "form-label" %>
                  <%= form.select :parent_id, @primary_categories.map { |category| [category.category_name, category.id] }, { prompt: "Selecciona una categoría principal" }, class: "form-select" %>
                </div>
                <div class="mt-3 pt-2 d-flex justify-content-between">
                  <%= link_to "Volver a las categorías", categories_path, class: "btn btn-secondary btn-sm w-20" %>
                  <%= form.submit "Guardar", class: "btn btn-primary btn-sm w-20" %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>
