<%= form_with(model: product) do |form| %>
  <% if product.errors.any? %>
    <div style="color: red">
      <ul>
        <% product.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, "Nombre" , style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :description, "Descripción" , style: "display: block" %>
    <%= form.text_field :description %>
  </div>

  <div>
    <%= form.label :price, "Precio" , style: "display: block" %>
    <%= form.text_field :price %>
  </div>

  <div>
    <%= form.label :stock, style: "display: block" %>
    <%= form.number_field :stock %>
  </div>

  <div>
    <%= form.label :colour, "Color" , style: "display: block" %>
    <%= form.text_field :colour %>
  </div>

  <div>
    <%= form.label :category_id, "Categoria" ,style: "display: block" %>
    <%= form.text_field :category_id %>
  </div>

  <div class="form-group">
    <%= form.label :images, "Subir imagen" %>
    <%= form.file_field :images, multiple: true, accept: "image/*", class: "form-control" %>
  </div>

  <div>
    <%= form.submit "Guardar" %>
  </div>
<% end %>
