<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <% if current_user && current_user.has_any_role?(:admin, :manager, :employee)%>
      <li class="breadcrumb-item"><%= link_to "Productos", index_administration_products_path %></li>
    <% else %>
      <li class="breadcrumb-item"><%= link_to "Productos", products_path %></li>
    <% end %>
    <li class="breadcrumb-item active" aria-current="page"><%= product.name %></li>
  </ol>
</nav>
<p style="color: red"><%= alert %></p>

<div class="container mb-5">
  <div class="row d-flex flex-row">
    <div class="col-md-5 product-image">
      <% if product.images.attached? %>
        <%= image_tag product.images.first, class: "img-fluid", alt: product.name %>
      <% end %>
    </div>

    <div class="col-md-2 product-small d-flex flex-md-column justify-content-start order-md-first">
      <% if product.images.attached? %>
        <% if product.images.length > 1 %>
          <% product.images.drop(1).each do |imagen| %>
              <%= image_tag imagen, class: "img-fluid", alt: product.name %>
          <% end %>
        <% end %>
      <% end %>
    </div>

    <div class="col-md-5">
      <h1><%= product.name %></h1>
      <h5><%= product.description %></h5>
      <p class="display-4 text-success">$<%= product.price %></p>
      
      <% if product.product_sizes.any? %>
        <h5>Talles</h5>
        <div class="row">
          <% product.product_sizes.each do |product_size| %>
            <div class="col-6 col-sm-4 col-md-2 mb-2">
              <div class="card p-3 border rounded-3 position-relative">
                <div class="size-name text-center">
                  <%= Size.find(product_size.size_id).size_value.upcase %>
                </div>
                <div class="stock-info d-none text-center position-absolute top-0 start-0 w-100 h-100 bg-white opacity-75 d-flex justify-content-center align-items-center">
                  <%= product_size.product_size_stock %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      <% else %>
        <p><strong>Stock:</strong>  <%= product.stock %></p>
      <% end %>
        <% if product.product_sizes.any? %>
          <p><strong>Color:</strong></p>
        <% end %>
      <% if current_user %>

        <%= form_with url: add_item_cart_path, method: :post, local: true do |f| %>
          <%= f.hidden_field :product_id, value: product.id %>

          <% if product.product_sizes.any? %>
            <div class="form-group">
              <%= f.label :size, "Seleccionar talle", class: "form-label" %>
              <%= f.select :size_id, product.product_sizes.map { |ps| 
                if ps.product_size_stock > 0 
                  [Size.find(ps.size_id).size_value.upcase, ps.size_id]
                end 
              }.compact, prompt: "Elige un talle", class: "form-select" %>
            </div>
          <% end %>

          <div class="form-group">
            <%= f.label :quantity, "Cantidad",  class: "form-label" %>
            <%= f.select :quantity, [1, 2, 3, 4, 5], class: "form-select" %>
          </div>

          <%= f.submit "Añadir al carrito", class: "btn btn-primary mt-3" %>
        <% end %>
      <% end %>

    </div>
  </div>
</div>
