<p style="color: green"><%= notice %></p>

<% content_for :title, "Productos" %>
  <div class="m-4">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nombre del producto</th>
          <th scope="col">Acciones</th>
        </tr>
      </thead>
      <tbody>
      <% @products.each do |product| %>
        <tr>
          <td><%= product.id %></td>
          <td><%= product.name %></td>
          <td class="d-flex gap-2">
            <%= link_to "Editar producto", edit_product_path(product), class: "btn btn-primary" %>
            <%= link_to "Modificar stock", show_stock_product_path(product), method: :get, class: "btn btn-warning" %>
            <%= button_to "Eliminar Producto", soft_delete_product_path(product), method: :patch, class: "btn btn-danger" %>
            <%= link_to "Ver producto", product_path(product), class: "btn btn-info" %>
          </td>
        </tr>
      <% end %>
    </tbody>

    </table>
    <%= link_to "Nuevo producto", new_product_path, class: "btn btn-success mt-3" %>
  </div>
