<p style="color: green"><%= notice %></p>

<% content_for :title, "Productos" %>
  <div class="m-4">
    <table class="table">
      <div class="table-title">
        <div class="row">
            <div class="col-sm-8"><h2>Panel de productos</h2></div>
            <div class="col-sm-4">
              <div class="search-box">
                  <input type="text" class="form-control" placeholder="Buscar...">
              </div>
            </div>
            <table class="table table-striped table-hover table-bordered">  
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Nombre del producto</th>
                <th scope="col">Acciones</th>
              </tr>
            </thead>
          </div>
        </div>
      </div>
      <tbody>
      <% @products.each do |product| %>
        <tr>
          <td><%= product.id %></td>
          <td><%= product.name %></td>
          <td class="d-flex gap-2">
            <%= link_to "Editar producto", edit_product_path(product), class: "btn btn-primary" %>
            <%= link_to "Modificar stock", show_stock_product_path(product), method: :get, class: "btn btn-warning" %>
            <%= button_to "Eliminar Producto", soft_delete_product_path(product), method: :patch, class: "btn btn-danger" %>
            <%= link_to "Ver producto", product_path(product), class: "btn btn-info" %>
          </td>
        </tr>
      <% end %>
    </tbody>

    </table>
  </div>
