<p style="color: green"><%= notice %></p>

<% content_for :title, "Productos" %>
  <div class="m-4">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Nombre del producto</th>
          <th scope="col">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <% @products.each do |product| %>
          <tr>
            <td><%= product.name %></td>
            <td>
              <%= link_to "Editar producto", edit_product_path(product) %>
              <%= link_to "Modificar stock", show_stock_product_path(product), method: :get %>
              eliminar
            </td>
          </tr>
        <% end %>
      </tbody>

    </table>
    <%= link_to "Nuevo producto", new_product_path, class: "btn btn-success mt-3" %>
  </div>
