<% content_for :title, "Productos" %>

<div class="m-4">
  <div class="d-flex justify-content-between mb-4">
    <h2 class="mb-0">Panel de Productos</h2>
    <div class="d-flex gap-2">
      <%= link_to "Nuevo producto", new_product_path, class: "btn btn-success" %>
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Relacionado al producto
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href=<%= categories_path %>>Categorías</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href=<%= sizes_path %>>Talles</a>
      </div>
    </div>
  </div>
  <% if !@products.blank? %>

    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nombre del producto</th>
          <th scope="col">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <% @products.each do |product| %>
          <tr>
            <td><%= product.id %></td>
            <td><%= product.name %></td>
            <td class="d-flex gap-2">
              <%= link_to "Editar producto", edit_product_path(product), class: "btn btn-primary" %>
              <%= link_to "Modificar stock", show_stock_product_path(product), method: :get, class: "btn btn-warning" %>
              <%= button_to "Eliminar Producto", soft_delete_product_path(product), method: :patch, class: "btn btn-danger" %>
              <%= link_to "Ver producto", product_path(product), class: "btn btn-info" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>

  <% else %>
    No hay productos
  <% end %>

</div>
