<% content_for :title, "Nuevo producto" %>

<section class="gradient-custom">
  <div class="container py-5 h-100">
    <div class="row justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
          <div class="card-body p-3 p-md-4">
            <h3 class="mb-4 pb-2 pb-md-0 mb-md-4">Crear producto</h3>
            <div data-controller="product-create">

              <%= form_for(@product, url: products_path, method: :post) do |form| %>
                <% if @product.errors.any? %>
                  <div style="color: red">
                    <ul>
                      <% @product.errors.each do |error| %>
                        <li><%= error.full_message %></li>
                      <% end %>
                    </ul>
                  </div>
                <% end %>

                <div class="form-outline mb-3">
                  <%= form.label :name, "Nombre", class: "form-label" %>
                  <%= form.text_field :name, class: "form-control form-control-sm" %>
                </div>
                
                <div class="form-outline mb-3">
                  <%= form.label :description, "Descripción", class: "form-label" %>
                  <%= form.text_field :description, class: "form-control form-control-sm" %>
                </div>

                <div class="form-outline mb-3">
                  <%= form.label :price, "Precio", class: "form-label" %>
                  <%= form.text_field :price, class: "form-control form-control-sm" %>
                </div>
                
                <div class="form-outline mb-3">
                  <%= form.label :stock, "Stock (dejar vacío si el producto tiene talles)", class: "form-label" %>
                  <%= form.number_field :stock, class: "form-control form-control-sm", data: { product_create_target: "stock", action: "input->product-create#updateStock" } %>
                </div>
              
                <div data-product-create-target="sizesContainer">
                  <h5 class="mt-4 mb-3">Stock por talles</h5>
                  <% Size.all.each do |size| %>
                    <div class="form-group mb-3">
                      <%= fields_for "product[product_sizes][]", ProductSize.new(size_id: size.id) do |ps| %>
                        <%= ps.hidden_field :size_id, value: size.id %>
                        <%= ps.label :product_size_stock, "Talle #{size.size_value}", class: "form-label" %>
                        <%= ps.number_field :product_size_stock, class: "form-control form-control-sm", placeholder: "Ingrese el stock" %>
                      <% end %>
                    </div>
                  <% end %>
                </div>

                <div class="form-outline mb-3">
                  <%= form.label :category_id, "Color", class: "form-label" %>
                  <%= form.text_field :colour, class: "form-control form-control-sm" %>
                </div>

                <div class="form-outline mb-3">
                  <%= form.label :category_id, "Categoría", class: "form-label" %>
                  <%= form.select :category_id, @categories.map { |category| [category.category_name, category.id] }, { prompt: "Selecciona una categoría" }, class: "form-select" %>
                </div>

                <div class="form-group mb-3">
                  <%= form.label :images, "Subir imagen", class: "form-label" %>
                  <%= form.file_field :images, multiple: true, accept: "image/*", class: "form-control" %>
                </div>

                <div class="mt-3 pt-2 d-flex justify-content-between">
                  <%= link_to "Volver a los productos", products_path, class: "btn btn-danger btn-sm w-20" %>
                  <%= form.submit "Guardar", class: "btn btn-primary btn-sm w-20" %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>
