<% content_for :title, "Modificar stock" %>

<section class="gradient-custom">
  <div class="container py-5 h-100">
    <div class="row justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
          <div class="card-body p-3 p-md-4">
            <h3 class="mb-4 pb-2 pb-md-0 mb-md-4">Modificar stock de <%= @product.name %></h3>

            <%= form_for(@product, url: modify_stock_product_path, method: :patch) do |form| %>
            <% if @product.errors.any? %>
              <div>
                <% @product.errors.each do |error| %>
                  <p class="alert alert-danger"><%= error.full_message %></p>
                <% end %>
              </div>
            <% end %>


            <% if @product.stock.blank? && !@product.product_sizes.any? %>
              <p>El producto no tiene ningún tipo de stock asociado.</p>
              <%= link_to "Volver a los productos", index_administration_products_path, class: "btn btn-secondary btn-sm w-20" %>
            <% else %>      
              <% if @product.product_sizes.any? %>
                  <h5 class="mt-4 mb-3">Stock por talles</h5>
                  <% @product.product_sizes.each do |product_size| %>
                      <div class="form-group mb-3">
                          <%= fields_for "product[product_sizes_attributes][]", product_size do |ps| %>
                              <%= ps.hidden_field :size_id, value: product_size.size_id %>
                              <%= ps.label :product_size_stock, "Talle #{product_size.size.size_value}", class: "form-label" %>
                              <%= ps.number_field :product_size_stock, min: 0, class: "form-control form-control-sm", placeholder: "Ingrese el stock", value: product_size.product_size_stock %>
                          <% end %>
                      </div>
                  <% end %>
              <% else %>
                <div class="form-outline mb-3">
                  <%= form.label :stock, "Stock", class: "form-label" %>
                  <%= form.number_field :stock, min: 0, class: "form-control form-control-sm"%>
                </div>
              <% end %>
          

              <div class="mt-3 pt-2 d-flex justify-content-between">
                  <%= link_to "Volver a los productos", index_administration_products_path, class: "btn btn-secondary btn-sm w-20" %>
                  <%= form.submit "Guardar", class: "btn btn-primary btn-sm w-20" %>
              </div>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>

