<p style="color: green"><%= notice %></p>

<%= render @product %>
<div>
<% if current_user && current_user.has_any_role?(:admin, :manager, :employee) %>
  <%= link_to "Editar producto", edit_product_path(@product) %> 
<% end %>


<!-- 
<%= link_to "Volver a los productos", products_path %>
#ver el eliminar
<%= button_to "Eliminar producto", @product, method: :delete %>
-->
</div>
