<% if notice %>
  <p class="alert alert-success">
    <%= notice %>
  </p>
<% end %>
<% if alert %>
<p class="alert alert-danger">
  <%= alert %>
</p>
<% end %>
<div class="m-4">

  <div class="d-flex justify-content-between mb-4">
    <h2 class="mb-0">Productos de la venta #<%= @sale.id %> </h2>
    <div class="d-flex gap-2">
      <%= link_to "Volver a las ventas", sales_path, class: "btn btn-secondary" %>
    </div>

  </div>
  <table class="table">
    <thead>
        <tr>
        <th>Producto</th>
        <th>Talle</th>
        <th>Cantidad</th>
        <th>Precio unitario</th>
        <th>Total acumulado</th>
        </tr>
    </thead>
    <tbody>
      <% @sale.sale_items.each do |sale_item| %>
      <tr>
          <td><%= sale_item.product.name %></td>
          <% if sale_item.size_id.nil? %>
              <td> No tiene </td>
          <% else %>
              <td><%= Size.find(sale_item.size_id).size_value.upcase %></td>
          <% end %>
          <td><%= sale_item.quantity %></td>
          <td><%= number_to_currency(sale_item.product.price, precision: 0) %></td>
          <td><%= number_to_currency(sale_item.price, precision: 0) %></td>
      </tr>
      <% end %>
    </tbody>
  </table>

  <div>
    <p><strong>Total: <%= number_to_currency(@sale.total_price, precision: 0) %></strong></p>
  </div>

</div>
