<nav class="navbar navbar-expand-lg" style="background-color: white;">
    <div class="container-fluid">
        <a class="navbar-brand color-letra" href=<%= root_path %>>
            Avivas
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
            <div class="navbar-nav">
                <ul class="navbar-nav navbar-right mb-2 mb-lg-0 ms-5">

                    <li class="nav-item active">
                        <a class="nav-link color-letra" href=<%= products_path %>>Calzado</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link color-letra" href=<%= products_path %>>Ropa</a>
                    </li>
                    
                    <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Categorías
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                    </li>
                    
                </ul>
            </div>
        </div>

        <div class="d-flex align-items-center">
            <form class="d-flex my-2 my-lg-0 me-3">
                <input class="form-control mr-sm-2" type="search" placeholder="Buscar productos" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0 ms-2" type="submit">Buscar</button>
            </form>
            <% if current_user %> 
                <div class="nav-item dropdown d-flex align-items-center">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <%= current_user.username %>
                    </a>
                    <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Ventas</a>
                        <a class="dropdown-item" href="<%= index_administration_products_path %>">Productos</a>
                        <% if current_user.has_any_role?(:admin, :manager) %> 
                            <a class="dropdown-item" href="<%= app_users_path %>">Usuarios</a>
                        <% end %>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="<%= destroy_user_session_path %>" role="button">Cerrar sesión</a>
                    </div>

                    <a class="nav-link ms-3" href="<%= cart_path %>">
                    <button class="btn btn-outline-primary">
                        Ver carrito 
                    </button>
                    </a>
                </div>
                <% else %>
                    <a class="btn btn-primary ms-3" href="<%= new_user_session_path %>" role="button">Iniciar sesión</a>
            <% end %>
        </div>
    </div>
</nav>