<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "TFI Ruby2024" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="P치gina web de gesti칩n de inventario de indumentaria deportiva">
    <meta name="author" content="Tom치s Ilid">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

   
  </head>

  <body>
  <div class="estructura-divida">
   
      <header>
        <%=render "layouts/navbar"%>
      </header>

      <main style="background-color: #E4E4E4">
        <%= yield %>
      </main>

      <footer class="footer navbar navbar-expand-lg navbar-light bg-light shadow-sm py-3 mt-auto">
        <div class="container-fluid d-flex align-items-center justify-content-center">
          <p class="mb-0 color-letra fs-6">Tom치s Ilid - TTPS Ruby 2024</p>
        </div>
      </footer>
  
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
  
</html>
